---

---

<!-- Start Choose Section -->

<section class="choose-us-section">
	<div class="section-title">
		<h4 class="subtitle"><span>Why Choose FitLife Online</span></h4>
		<h1 class="title">Результат, а не просто тренировки</h1>
	</div>	
</section>

<!-- End Choose Section -->