---

---

<!-- Start Choose Section -->

	<section class="choose-us-section">
		<div class="section-title">
			<h4 class="subtitle"><span>Why Choose Us</span></h4>
			<h1 class="title">Top trainers, best equipment, supportive community</h1>
		</div>	
	</section>

	<!-- End Choose Section -->