---

---

<!-- Start Classes Section -->

	<section class="classes-section">
		<div class="container">
			<div class="top">
				<div class="section-title">
					<h4 class="subtitle"><span>Our Classes</span></h4>
					<h1 class="title">Your Ultimate Fitness Journey Starts Here</h1>
				</div>
				<div class="button">
					<a href="#" class="btn">View Classes<i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="main-accordion">
				<div class="accordion-header">
					<div class="class-title">
						<h3>Spin & Sweat</h3>
					</div>
					<div class="class-box">
						<div class="item">
							<span class="heading">Level:</span>
							<span class="data">Low</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Duration:</span>
							<span class="data">45 mins</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Session:</span>
							<span class="data">3 / month</span>
						</div>
					</div>
					<div class="class-button">
						<a href="#"><i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="accordion-content">
					<div class="content-box">
						<div class="content-left">
							<p>Build strength, endurance, and fitness with dynamic workouts and expert guidance for a balanced, powerful physique.</p>
							<p class="title">Key Benefits:</p>
							<ul>
								<li>Boosts strength and stamina.</li>
								<li>Enhances overall athletic performance.</li>
							</ul>
						</div>
						<div class="content-right">
							<img src="assets/images/class-img-01.jpg" alt="images">
						</div>
					</div>
				</div>
				<div class="accordion-header">
					<div class="class-title">
						<h3>HIIT Power Hour</h3>
					</div>
					<div class="class-box">
						<div class="item">
							<span class="heading">Level:</span>
							<span class="data">Low</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Duration:</span>
							<span class="data">45 mins</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Session:</span>
							<span class="data">3 / month</span>
						</div>
					</div>
					<div class="class-button">
						<a href="#"><i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="accordion-content">
					<div class="content-box">
						<div class="content-left">
							<p>Build strength, endurance, and fitness with dynamic workouts and expert guidance for a balanced, powerful physique.</p>
							<p class="title">Key Benefits:</p>
							<ul>
								<li>Boosts strength and stamina.</li>
								<li>Enhances overall athletic performance.</li>
							</ul>
						</div>
						<div class="content-right">
							<img src="assets/images/class-img-2.png" alt="images">
						</div>
					</div>
				</div>
				<div class="accordion-header">
					<div class="class-title">
						<h3>Yoga Flow Basics</h3>
					</div>
					<div class="class-box">
						<div class="item">
							<span class="heading">Level:</span>
							<span class="data">Low</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Duration:</span>
							<span class="data">45 mins</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Session:</span>
							<span class="data">3 / month</span>
						</div>
					</div>
					<div class="class-button">
						<a href="#"><i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="accordion-content">
					<div class="content-box">
						<div class="content-left">
							<p>Build strength, endurance, and fitness with dynamic workouts and expert guidance for a balanced, powerful physique.</p>
							<p class="title">Key Benefits:</p>
							<ul>
								<li>Boosts strength and stamina.</li>
								<li>Enhances overall athletic performance.</li>
							</ul>
						</div>
						<div class="content-right">
							<img src="assets/images/class-img-3.png" alt="images">
						</div>
					</div>
				</div>
				<div class="accordion-header">
					<div class="class-title">
						<h3>Pilates Reformer</h3>
					</div>
					<div class="class-box">
						<div class="item">
							<span class="heading">Level:</span>
							<span class="data">Low</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Duration:</span>
							<span class="data">45 mins</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Session:</span>
							<span class="data">3 / month</span>
						</div>
					</div>
					<div class="class-button">
						<a href="#"><i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="accordion-content">
					<div class="content-box">
						<div class="content-left">
							<p>Build strength, endurance, and fitness with dynamic workouts and expert guidance for a balanced, powerful physique.</p>
							<p class="title">Key Benefits:</p>
							<ul>
								<li>Boosts strength and stamina.</li>
								<li>Enhances overall athletic performance.</li>
							</ul>
						</div>
						<div class="content-right">
							<img src="assets/images/class-img-4.png" alt="images">
						</div>
					</div>
				</div>
				<div class="accordion-header">
					<div class="class-title">
						<h3>Zumba Energy</h3>
					</div>
					<div class="class-box">
						<div class="item">
							<span class="heading">Level:</span>
							<span class="data">Low</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Duration:</span>
							<span class="data">45 mins</span>
						</div>
						<span class="separetor"></span>
						<div class="item">
							<span class="heading">Session:</span>
							<span class="data">3 / month</span>
						</div>
					</div>
					<div class="class-button">
						<a href="#"><i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
				<div class="accordion-content">
					<div class="content-box">
						<div class="content-left">
							<p>Build strength, endurance, and fitness with dynamic workouts and expert guidance for a balanced, powerful physique.</p>
							<p class="title">Key Benefits:</p>
							<ul>
								<li>Boosts strength and stamina.</li>
								<li>Enhances overall athletic performance.</li>
							</ul>
						</div>
						<div class="content-right">
							<img src="assets/images/class-img-5.png" alt="images">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End Classes Section -->