---

---

<!-- Start Mobail Menu -->
<div class="mobile-menu">
  <div class="menu-bar">
    <div class="site-logo">
      <a href="index.html">
        <img src="/assets/images/mobail-logo.png" alt="logo" />
      </a>
    </div>
    <div class="menu-toggle">
      <i class="fa-solid fa-bars"></i>
    </div>
  </div>
  <div class="menu-content">
    <div class="menu">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="classes.html">Classes</a></li>
        <li class="mobail-dropdown">
          <a href="#">Pages<i class="fa-solid fa-chevron-down"></i></a>
          <ul class="mobail-submenu">
            <li><a href="class-schedule.html">Class Schedule</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="our-pricing.html">Our Pricing</a></li>
            <li><a href="trainers.html">Trainers</a></li>
            <li><a href="blog-details.html">Blog Details</a></li>
            <li><a href="class-details.html">Class Details</a></li>
          </ul>
        </li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="contact.html">contact</a></li>
      </ul>
    </div>
    <div class="info">
      <h3 class="title">Contact Info</h3>
      <div class="info-box">
        <i class="fa-solid fa-location-dot"></i>
        6391 Elgin St. Celina, Delaware 10299
      </div>
      <div class="info-box">
        <i class="fa-solid fa-phone"></i>
        <a href="#">(209) 555-0104</a>
      </div>
      <div class="info-box">
        <i class="fa-solid fa-envelope"></i>
        <a href="#">info@example.com</a>
      </div>
    </div>
    <div class="component">
      <div class="search-icon">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <div class="button">
        <a href="#" class="btn">Get A Quote<i class="fa-solid fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>

<!-- End Mobail Menu -->
