---

---

<!-- Start Marquee Section -->

<section class="marquee-section">
	<div class="marquee-box">
		<div class="marquee-item">
			<span class="text">Минус 3–7 кг за 30 дней</span>  
			<span class="dots"></span>
			<span class="text">Индивидуальный план тренировок</span>
			<span class="dots"></span>
			<span class="text">Питание без жёстких диет</span>
			<span class="dots"></span>
			<span class="text">Поддержка 24/7 в Telegram</span>
			<span class="dots"></span>
			<span class="text">Контроль прогресса каждую неделю</span>
			<span class="dots"></span>
			<span class="text">Разбор техники упражнений</span>
			<span class="dots"></span>
			<span class="text">Под любой уровень подготовки</span>
			<span class="dots"></span>
		</div>
		<div class="marquee-item">
			<span class="text">Минус 3–7 кг за 30 дней</span>  
			<span class="dots"></span>
			<span class="text">Индивидуальный план тренировок</span>
			<span class="dots"></span>
			<span class="text">Питание без жёстких диет</span>
			<span class="dots"></span>
			<span class="text">Поддержка 24/7 в Telegram</span>
			<span class="dots"></span>
			<span class="text">Контроль прогресса каждую неделю</span>
			<span class="dots"></span>
			<span class="text">Разбор техники упражнений</span>
			<span class="dots"></span>
			<span class="text">Под любой уровень подготовки</span>
			<span class="dots"></span>
		</div>
	</div>
</section>

<!-- End Marquee Section -->