---

---

<!-- Start About Section -->
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-6">
        <div class="about-left">
          <div class="image">
            <img src="/assets/images/about-img-1.png" alt="images" />
          </div>
          <div class="text-box">
            <div class="count">
              <h3>2+</h3>
              <p>Years</p>
            </div>
            <div class="text">
              <p>Experience</p>
            </div>
          </div>
          <div class="image-box">
            <img src="/assets/images/about-img-2.png" alt="images" />
          </div>
        </div>
      </div>

      <div class="col-lg-12 col-xl-6">
        <div class="about-right">
          <div class="section-title">
            <h4 class="subtitle"><span>О нас</span></h4>
            <h1 class="title">Прокачай своё тело и дисциплину</h1>
          </div>

          <p class="discription">
            FitLife Online — это не просто тренировки. Это система, которая помогает тебе стать сильнее, увереннее и лучше каждый день. 
            Ты получаешь программу, поддержку и результат.
          </p>

          <div class="list-box">
            <div class="list">
              <ul>
                <li><i class="fa-solid fa-bolt"></i><span>Персональные тренировки под тебя</span></li>
                <li><i class="fa-solid fa-bolt"></i><span>Поддержка и контроль в Telegram</span></li>
                <li><i class="fa-solid fa-bolt"></i><span>Результат без лишней воды</span></li>
              </ul>
            </div>

            <div class="video">
              <a data-autoplay="true" data-vbtype="video" href="https://youtu.be/Et_3r2uugrY" class="venobox icon">
                <i class="fa fa-play"></i>
                <span class="cricle-1"></span>
                <span class="cricle-2"></span>
                <span class="cricle-3"></span>
              </a>
            </div>
          </div>

          <div class="button">
            <a href="https://t.me/sophialesliwe" class="btn">
              Начать сейчас <i class="fa-solid fa-arrow-right"></i>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!-- End About Section -->
