---

---

<!-- Start Package Section -->

	<section class="package-section">
		<div class="container">
			<div class="top">
				<div class="section-title">
					<h4 class="subtitle"><span>Pricing Plan</span></h4>
					<h1 class="title">Choose Our Package</h1>
				</div>
				<div class="button">
					<a href="#" class="btn">View Pricing<i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-lg-6 col-xl-4">
					<div class="package-box">
						<div class="box-head">
							<h5 class="price-title">Silver Package</h5>
							<span class="price">$ 59.00</span>
							<span class="validity">/Per Month</span>
						</div>
						<div class="box-body">
							<ul>
								<li><i class="fa-regular fa-circle-check"></i>30 Days Trial Features</li>
								<li><i class="fa-regular fa-circle-check"></i>Unlimited Features</li>
								<li><i class="fa-regular fa-circle-check"></i>Multi-Language Content</li>
								<li><i class="fa-regular fa-circle-xmark"></i>Data backup and recovery</li>
								<li><i class="fa-regular fa-circle-xmark"></i>Synced To Cloud Database</li>
							</ul>
						</div>
						<div class="button">
							<a href="#" class="btn">Purchase Now<i class="fa-solid fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-4">
					<div class="package-box">
						<div class="box-head">
							<h5 class="price-title">Silver Package</h5>
							<span class="price">$ 59.00</span>
							<span class="validity">/Per Month</span>
						</div>
						<div class="box-body">
							<ul>
								<li><i class="fa-regular fa-circle-check"></i>30 Days Trial Features</li>
								<li><i class="fa-regular fa-circle-check"></i>Unlimited Features</li>
								<li><i class="fa-regular fa-circle-check"></i>Multi-Language Content</li>
								<li><i class="fa-regular fa-circle-check"></i>Data backup and recovery</li>
								<li><i class="fa-regular fa-circle-xmark"></i>Synced To Cloud Database</li>
							</ul>
						</div>
						<div class="button">
							<a href="#" class="btn active">Purchase Now<i class="fa-solid fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xl-4">
					<div class="package-box">
						<div class="box-head">
							<h5 class="price-title">Silver Package</h5>
							<span class="price">$ 59.00</span>
							<span class="validity">/Per Month</span>
						</div>
						<div class="box-body">
							<ul>
								<li><i class="fa-regular fa-circle-check"></i>30 Days Trial Features</li>
								<li><i class="fa-regular fa-circle-check"></i>Unlimited Features</li>
								<li><i class="fa-regular fa-circle-check"></i>Multi-Language Content</li>
								<li><i class="fa-regular fa-circle-check"></i>Data backup and recovery</li>
								<li><i class="fa-regular fa-circle-check"></i>Synced To Cloud Database</li>
							</ul>
						</div>
						<div class="button">
							<a href="#" class="btn">Purchase Now<i class="fa-solid fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End Package Section -->