---

---

<!-- Start Pricing Section -->

<section class="package-section">
	<div class="container">

		<!-- Section Top -->
		<div class="top">
			<div class="section-title">
				<h4 class="subtitle"><span>Цены</span></h4> <!-- section subtitle -->
				<h1 class="title">Выбери формат работы</h1> <!-- section title -->
			</div>
			<div class="button">
				<a href="https://t.me/YOUR_USERNAME" class="btn">Написать в Telegram<i class="fa-solid fa-arrow-right"></i></a> <!-- telegram button -->
			</div>
		</div>

		<div class="row">

			<!-- Women Coaching -->
			<div class="col-md-6 col-lg-6 col-xl-4">
				<div class="package-box">
					<div class="box-head">
						<h5 class="price-title">Для девушек</h5>
						<span class="price">50$</span>
						<span class="validity">/месяц</span>
					</div>
					<div class="box-body">
						<ul>
							<li><i class="fa-regular fa-circle-check"></i>Индивидуальный план тренировок</li>
							<li><i class="fa-regular fa-circle-check"></i>Питание и расчёт БЖУ</li>
							<li><i class="fa-regular fa-circle-check"></i>Учёт вкусов и режима</li>
							<li><i class="fa-regular fa-circle-check"></i>Контроль каждую неделю</li>
							<li><i class="fa-regular fa-circle-check"></i>Поддержка 24/7 в Telegram</li>
						</ul>
					</div>
					<div class="button">
						<a href="https://t.me/YOUR_USERNAME" class="btn">Начать<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>

			<!-- Men Coaching (highlight) -->
			<div class="col-md-6 col-lg-6 col-xl-4">
				<div class="package-box">
					<div class="box-head">
						<h5 class="price-title">Для парней</h5>
						<span class="price">65$</span>
						<span class="validity">/месяц</span>
					</div>
					<div class="box-body">
						<ul>
							<li><i class="fa-regular fa-circle-check"></i>План тренировок и питания</li>
							<li><i class="fa-regular fa-circle-check"></i>Набор массы / сушка</li>
							<li><i class="fa-regular fa-circle-check"></i>Корректировка техники</li>
							<li><i class="fa-regular fa-circle-check"></i>Проверка формы и отчётов</li>
							<li><i class="fa-regular fa-circle-check"></i>Поддержка 24/7</li>
						</ul>
					</div>
					<div class="button">
						<a href="https://t.me/YOUR_USERNAME" class="btn">Начать<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>

			<!-- Plans -->
			<div class="col-md-6 col-lg-6 col-xl-4">
				<div class="package-box">
					<div class="box-head">
						<h5 class="price-title">Разовые планы</h5>
						<span class="price">20$</span>
						<span class="validity">/за услугу</span>
					</div>
					<div class="box-body">
						<ul>
							<li><i class="fa-regular fa-circle-check"></i>План тренировок (6 месяцев)</li>
							<li><i class="fa-regular fa-circle-check"></i>План питания</li>
							<li><i class="fa-regular fa-circle-check"></i>Подбор под твои цели</li>
							<li><i class="fa-regular fa-circle-check"></i>Под твой уровень</li>
							<li><i class="fa-regular fa-circle-check"></i>Без жёстких диет</li>
						</ul>
					</div>
					<div class="button">
						<a href="https://t.me/YOUR_USERNAME" class="btn">Заказать<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- End Pricing Section -->