---

---

<!-- Start Brand Section -->

	<section class="brand-section">
		<div class="carousel__wrapper">
      <div class="progress__slaider carousel slide" id="carouselExample" >
        <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="progress__img d-block" src="../template/fitcore/assets/images/student_1.jpeg"  alt="student_1">
    </div>
    <div class="carousel-item">
      <img class="progress__img d-block" src="../template/fitcore/assets/images/student_2.jpeg"  alt="student_2">
    </div>
    <div class="carousel-item">
      <img class="progress__img d-block" src="../template/fitcore/assets/images/student_3.jpeg" alt="student_3">
    </div>
    <div class="carousel-item">
      <img class="progress__img d-block" src="../template/fitcore/assets/images/student_4.jpeg"  alt="student_4">
    </div>
    <div class="carousel-item">
      <img class="progress__img d-block" src="../template/fitcore/assets/images/student_5.jpeg" alt="student_5">
    </div>
    <div class="carousel-item">
      <img class="progress__img d-block" src="../template/fitcore/assets/images/student_6.jpeg"  alt="student_6">
    </div>
    <div class="carousel-item">
      <img class="progress__img d-block" src="../template/fitcore/assets/images/student_7.jpeg" alt="student_7">
    </div>
    <div class="carousel-item">
      <img class="progress__img d-block" src="../template/fitcore/assets/images/student_8.jpeg" alt="student_8">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
 </div>
	</section>

	<!-- End Brand Section -->