---

---

<!-- Start Team Member Section -->

<section class="team-section">
	<div class="container">

		<!-- Section Top -->
		<div class="top">
			<div class="section-title">
				<h4 class="subtitle"><span>Наши тренеры</span></h4> <!-- section subtitle -->
				<h1 class="title">Эксперты FitLife Online</h1> <!-- section title -->
			</div>
			<div class="button">
				<a href="https://t.me/YOUR_USERNAME" class="btn">Связаться в Telegram<i class="fa-solid fa-arrow-right"></i></a> <!-- button link -->
			</div>
		</div>

		<div class="row">
			<div class="team-member">

				<!-- Trainer 1 -->
				<div class="member-box">
					<div class="images">
						<img src="assets/images/member-1.png" alt="trainer">
					</div>
					<div class="bio">
						<h4 class="name">Анна Смирнова</h4> <!-- trainer name -->
						<p>Онлайн тренер для девушек</p> <!-- trainer specialty -->
						<ul class="social-icons">
							<li><a href="https://t.me/YOUR_USERNAME"><i class="fa-brands fa-telegram"></i></a></li> <!-- telegram link -->
						</ul>
					</div>
				</div>

				<!-- Trainer 2 -->
				<div class="member-box">
					<div class="images">
						<img src="assets/images/member-2.png" alt="trainer">
					</div>
					<div class="bio">
						<h4 class="name">Иван Петров</h4>
						<p>Онлайн тренер для парней</p>
						<ul class="social-icons">
							<li><a href="https://t.me/YOUR_USERNAME"><i class="fa-brands fa-telegram"></i></a></li>
						</ul>
					</div>
				</div>

				<!-- Trainer 3 -->
				<div class="member-box">
					<div class="images">
						<img src="assets/images/member-3.png" alt="trainer">
					</div>
					<div class="bio">
						<h4 class="name">Мария Кузнецова</h4>
						<p>Индивидуальные планы питания</p>
						<ul class="social-icons">
							<li><a href="https://t.me/YOUR_USERNAME"><i class="fa-brands fa-telegram"></i></a></li>
						</ul>
					</div>
				</div>

				<!-- Trainer 4 -->
				<div class="member-box">
					<div class="images">
						<img src="assets/images/member-4.png" alt="trainer">
					</div>
					<div class="bio">
						<h4 class="name">Дмитрий Соколов</h4>
						<p>Индивидуальные планы тренировок</p>
						<ul class="social-icons">
							<li><a href="https://t.me/YOUR_USERNAME"><i class="fa-brands fa-telegram"></i></a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>

	</div>
</section>

<!-- End Team Member Section -->