---

---

<!-- Start Team Member Section -->

	<section class="team-section">
		<div class="container">
			<div class="top">
				<div class="section-title">
					<h4 class="subtitle"><span>Team Member</span></h4>
					<h1 class="title">Our Expert Trainers </h1>
				</div>
				<div class="button">
					<a href="#" class="btn">View Classes<i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="team-member">
				<div class="member-box">
					<div class="images">
						<img src="assets/images/member-1.png" alt="images">
					</div>
					<div class="bio">
						<h4 class="name">Harvey jones</h4>
						<p>Body Building</p>
						<ul class="social-icons">
							<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="member-box">
					<div class="images">
						<img src="assets/images/member-2.png" alt="images">
					</div>
					<div class="bio">
						<h4 class="name">David Harris</h4>
						<p>Strength Trainer</p>
						<ul class="social-icons">
							<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="member-box">
					<div class="images">
						<img src="assets/images/member-3.png" alt="images">
					</div>
					<div class="bio">
						<h4 class="name">Harlien puth</h4>
						<p>Strength Trainer</p>
						<ul class="social-icons">
							<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="member-box">
					<div class="images">
						<img src="assets/images/member-4.png" alt="images">
					</div>
					<div class="bio">
						<h4 class="name">Tristin Chinez</h4>
						<p>Yoga Coach</p>
						<ul class="social-icons">
							<li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
							<li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>
		</div>
	</section>

	<!-- End Team Member Section -->