---

---
<!-- Start Hero Section -->

	<section class="hero-section">
		<div class="hero-carousel owl-carousel">
			<div class="hero-content" style="background-image: url(assets/images/hero1-bg.jpg);">
				<div class="container">
					<h5><span></span>Welcome to Gymix Gym</h5>
					<h1 class="heading">Transform with a Fitness Expert</h1>
					<p class="discription">Achieve your peak fitness with expert guidance, personalized workouts, and a supportive community. </p>
					<div class="hero-about">
						<div class="button">
							<a href="#" class="btn">More About Us<i class="fa-solid fa-arrow-right"></i></a>
						</div>
						<div class="box">
							<div class="image-box">
								<img src="assets/images/hero-img.png" alt="images">
							</div>
							<div class="count-box">
								<h4 class="number">750k<span>+</span></h4>
								<p>Happy customers</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hero-content" style="background-image: url(assets/images/hero1-bg2.jpg);">
				<div class="container">
					<h5><span></span>Welcome to Gymix Gym</h5>
					<h1 class="heading">Transform with a Fitness Expert</h1>
					<p class="discription">Achieve your peak fitness with expert guidance, personalized workouts, and a supportive community. </p>
					<div class="hero-about">
						<div class="button">
							<a href="#" class="btn">More About Us<i class="fa-solid fa-arrow-right"></i></a>
						</div>
						<div class="box">
							<div class="image-box">
								<img src="assets/images/hero-img.png" alt="images">
							</div>
							<div class="count-box">
								<h4 class="number">750k<span>+</span></h4>
								<p>Happy customers</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- End Hero Section -->