---

---

<!-- Start Join Section -->

<section class="join-section">
	<div class="container">
		<div class="join-content">
			<div class="content-left">
				<p>Ты получаешь не просто тренировки, а систему, которая реально даёт результат: питание, контроль и поддержка каждый день.</p>

				<!-- 01 -->
				<div class="box">
					<span class="number">01</span>
					<span class="text">Индивидуальный план тренировок и питания</span>
				</div>

				<!-- 02 -->
				<div class="box middle-item">
					<span class="text two">Поддержка и связь 24/7 в Telegram</span>
					<span class="number two">02</span>
				</div>

				<!-- 03 -->
				<div class="box">
					<span class="number">03</span>
					<span class="text">Контроль результата и корректировки каждую неделю</span>
				</div>

			</div>

			<div class="content-right">
				<img src="assets/images/join-img.png" alt="fitness coaching">
			</div>
		</div>
	</div>
</section>

<!-- End Join Section -->