---

const today = new Date();
const currentYear = today.getFullYear();

import {SITE_NAME} from '../../config';

---

<!-- Start Footer Section -->
<footer class="footer-section">
  <div class="container">
    <div class="footer-content">
      <div class="discription">
        <img src="/assets/images/site-logo.png" alt="images" />
        <p>Achieve your health goals with expert trainers, state-of-the-art equipment, and a supportive community</p>
        <ul>
          <li class="title">Follow Us:</li>
          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
      </div>
      <div class="contact">
        <h3>Contact</h3>
        <ul>
          <li><a href="mailto:fitcoredemo@example.com"><i class="fa-solid fa-envelope"></i>fitcoredemo@example.com</a></li>
          <li><a href="tel:56712345678901"><i class="fa-solid fa-phone"></i>+ (567) 1234-567-8901</a></li>
          <li><i class="fa-solid fa-location-dot"></i>293 Harrison St, San Francisco, CA 94103, United States</li>
        </ul>
      </div>
      <div class="letter">
        <h3>Newsletter</h3>
        <p>Subscribe today and unlock 20% off your first class package.</p>
        <form action="#" method="post">
          <div class="mail">
            <input type="email" placeholder="Enter your Email" />
            <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
          </div>
        </form>
      </div>
    </div>
    <p class="end-text">All Right Reserved © {SITE_NAME} {currentYear}</p>
  </div>
</footer>

<!-- End Footer Section -->
