---
import '../css/style.css';
import Header from "../blocks/Header/Header.astro";
import MobileMenu from "../blocks/MobileMenu/MobileMenu.astro";
import Footer from "../blocks/Footer/Footer.astro";
import About from "../blocks/About/About.astro"
import { SITE_NAME } from '../config';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>{SITE_NAME}</title>
	</head>
	<body>
		<Header />
		<MobileMenu />
		<About />
		<Footer />
	</body>
</html>
