---

---

<!-- Start Tips Section -->

<section class="blog-section">
	<div class="container">

		<!-- Section Title -->
		<div class="section-title">
			<h4 class="subtitle"><span>ПОЛЕЗНО</span></h4> <!-- section subtitle -->
			<h1 class="title">Советы для результата</h1> <!-- section title -->
		</div>

		<!-- Item 1 -->
		<div class="blog-box">
			<div class="blog-left">
				<div class="blog-subtitle">
					<span>FitLife</span>
					<span class="separetor"></span>
					<span>2025</span>
				</div>
				<h4 class="blog-heading">
					<a href="#">Как не бросить тренировки через 2 недели</a>
				</h4>
				<p>Простая система, которая помогает держать дисциплину и видеть результат уже в первый месяц.</p>
				<div class="button">
					<a href="https://t.me/sophialesliwe" class="btn">Получить план<i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="blog-right">
				<div class="image">
					<img src="/assets/images/blog-1.jpg" alt="image">
				</div>
			</div>
		</div>

		<!-- Item 2 -->
		<div class="blog-box">
			<div class="blog-left">
				<div class="blog-subtitle">
					<span>FitLife</span>
					<span class="separetor"></span>
					<span>2025</span>
				</div>
				<h4 class="blog-heading">
					<a href="#">Как похудеть без жёстких диет</a>
				</h4>
				<p>Ты не будешь голодать — только правильный баланс питания и тренировки под тебя.</p>
				<div class="button">
					<a href="https://t.me/sophialesliwe" class="btn">Начать<i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="blog-right">
				<div class="image">
					<img src="/assets/images/blog-2.jpg" alt="image">
				</div>
			</div>
		</div>

		<!-- Item 3 -->
		<div class="blog-box">
			<div class="blog-left">
				<div class="blog-subtitle">
					<span>FitLife</span>
					<span class="separetor"></span>
					<span>2025</span>
				</div>
				<h4 class="blog-heading">
					<a href="#">Как набрать мышечную массу правильно</a>
				</h4>
				<p>Без лишнего жира — только чистый набор и контроль результата.</p>
				<div class="button">
					<a href="https://t.me/sophialesliwe" class="btn">Получить план<i class="fa-solid fa-arrow-right"></i></a>
				</div>
			</div>
			<div class="blog-right">
				<div class="image">
					<img src="/assets/images/blog-3.jpg" alt="image">
				</div>
			</div>
		</div>

	</div>
</section>

<!-- End Tips Section -->