---

---

<!-- Start Site-Header -->
<header class="site-header">
  <div class="top-bar">
    <div class="container">
      <div class="top-left">
        <div class="mail">
          <a href="mailto:info@example.com"><i class="fa-solid fa-envelope"></i>info@example.com</a>
        </div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>6391 Elgin St. Celina, 10299
        </div>
      </div>
      <div class="top-right">
        <div class="phone">
          <a href="tel:6295550129"><i class="fa-solid fa-phone"></i>(629) 555-0129</a>
        </div>
        <div class="separator"></div>
        <div class="social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="menu-bar">
      <div class="site-logo">
        <a href="index.html"><img src="assets/images/site-logo.png" alt="logo" /></a>
      </div>
      <div class="main-menu">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="classes.html">Classes</a></li>
          <li class="dropdown">
            <a href="#">Pages<i class="fa-solid fa-chevron-down"></i></a>
            <ul class="sub-menu">
              <li><a href="class-schedule.html">Class Schedule</a></li>
              <li><a href="gallery.html">Gallery</a></li>
              <li><a href="our-pricing.html">Our Pricing</a></li>
              <li><a href="trainers.html">Trainers</a></li>
              <li><a href="blog-details.html">Blog Details</a></li>
              <li><a href="class-details.html">Class Details</a></li>
            </ul>
          </li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </div>
      <div class="button">
        <a href="#" class="btn">Join Now<i class="fa-solid fa-angles-right"></i></a>
      </div>
    </div>
  </div>
</header>

<!-- End Site-Header -->
