---

---

<!-- Start Site-Header -->
<header class="site-header">
  <div class="top-bar">
    <div class="container">
      <div class="top-left">
        <div class="mail">
          <a href="#"><i class="fa-solid fa-envelope"></i>info@example.com</a>
        </div>
        <div class="location">
          <i class="fa-solid fa-location-dot"></i>Fit Up, Námestie legionárov 15267/1, 080 01 Prešov, Словаччина
        </div>
      </div>
      <div class="top-right">
        <div class="phone">
          <a href="#"><i class="fa-solid fa-phone"></i>(629) 555-0129</a>
        </div>
        <div class="separator"></div>
        <div class="social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="menu-bar">
      <div class="site-logo">
        <a href="index.html"><img src="/assets/images/site-logo.png" alt="logo" /></a>
      </div>
      <div class="main-menu">
        <ul>
          <li><a href="index.html">Дом</a></li>
          <li><a href="about.html">Про нас</a></li>
          <li><a href="classes.html">Занятия</a></li>
          <li><a href="blog.html">Блог</a></li>
          <li><a href="contact.html">Контакт</a></li>
        </ul>
      </div>
      <div class="button">
        <a href="#" class="btn">Присоединиться<i class="fa-solid fa-angles-right"></i></a>
      </div>
    </div>
  </div>
</header>

<!-- End Site-Header -->
